@charset "UTF-8"; 

/* TODAS AS DEMAIS MIDIAS*/

/* TYPICAL DEVICE BREAKPOINTS
pequenas telas : ate 600px
celular: 576px a 768px
tablet: 768px a 992px
desktop: 992px a 1200px
grandes telas acima de:Acima de 1200px
*/
@media print { /*IMPRESSAO*/
  *{
    font-family: 'Courier New', Courier, monospace;
  }
  body{
    background-image: url(../back-print.jpg);
    text-shadow: none;
    color: black;
  }
  main{
    border: 2px solid black;
  }
  main::after{
    content: 'esta impressao www..curesdofsdj em vido';
    text-decoration: overline;
  }
  img#phone{ display: none; }
    img#tablet{ display: none;}
    img#print{ display: block;}
    img#pc{ display: none;}
    img#tv{ display: none;}


}
@media screen and (min-width: 768px) and (max-width: 992px){
    /* TABLET*/
    body{
        background-image: url(../back-tablet.jpg);
    }
    img#phone{ display: none; }
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: none;}

}
@media screen and (min-width: 992px) and (max-width: 1200px){
    /* DESKTOP*/
    body{
        background-image: url(../back-pc.jpg);
    }
    img#phone{ display: none; }
    img#tablet{ display:none;}
    img#print{ display: none;}
    img#pc{ display: block;}
    img#tv{ display: none;}

}

@media screen and (min-width: 1200px) {
    /* GRANDES TELAS*/
    body{
        background-image: url(../back-tv.jpg);
    }
    main {
        width: 707px;
    }
    img#phone{ display: none; }
    img#tablet{ display:none;}
    img#print{ display: none;}
    img#pc{ display: nome;}
    img#tv{ display: block;}

}
}

